# Module::Build artifacts
/Build
/_build/
/blib/
/MYMETA.*

# XS build outputs
/lib/Object/PadX/Enum.c
/lib/Object/PadX/Enum.o
/lib/Object/PadX/Enum.bs

# Editor / OS noise
*.swp
*.swo
.DS_Store
references
